    {
      "name": "fr.openent~pmb-connector~${modPmbVersion}",
      "config": {
        "main" : "fr.openent.pmb.Pmb",
        "port" : 8068,
        "app-name" : "Pmb-connector",
    	"app-address" : "/pmb",
    	"app-icon" : "Pmb-connector-large",
        "host": "${host}",
        "ssl" : $ssl,
        "auto-redeploy": false,
        "userbook-host": "${host}",
        "integration-mode" : "HTTP",
        "app-registry.port" : 8012,
        "mode" : "${mode}",
        "entcore.port" : 8009,
        "sql" : true,
        "db-schema" : "pmb",
        "export": {
            "group_manager": "PMB gestionnaires",
            "group_manager_lend_manual" : "PMB Gestionnaires Prêts de Manuels"
        },
        "infraMail": "${infraMailPmb}",
        "PMB": {
            "page_size": ${pmbPageSize}
        }
      }
    }
