{
  "name": "fr.openent~pmb-connector",
  "config": {
    "main" : "fr.openent.pmb.Pmb",
    "probes": [
      "org.entcore.common.http.health.Neo4jProbe",
      "org.entcore.common.http.health.PostgresProbe",
      "org.entcore.common.http.health.MongoProbe",
      "org.entcore.common.http.health.RedisProbe"
    ],
    "port" : 8130,
    "app-name" : "Pmb-connector",
    "app-address" : "/pmb",
    "app-icon" : "Pmb-connector-large",
    "host": "http://{{ host }}",
    "ssl" : true,
    "auto-redeploy": false,
    "userbook-host": "http://{{ host }}",
    "integration-mode": "{{ integration_mode|default('HTTP') }}",
    "app-registry.port" : 8012,
    "mode" : "prod",
    "entcore.port" : 8009,
    "sql" : true,
    "db-schema" : "pmb",
    "export": {
      "group_manager": "{{pmbManagerGroupName|default('PMB gestionnaires')}}",
      "group_manager_lend_manual": "{{pmbGroupName|default('PMB gestionnaires')}}"
    },
    "infraMail": "{{pmbInfraMail|default('')}}",
    "PMB": {
      "host": "{{ pmbHost }}",
      "endpoint": "{{ pmbEndpoint }}",
      "source_id": "{{ pmbSourceId }}",
      "page_size": {{ pmbPageSize }},
      "credentials": {
        "username": "{{ pmbUsername }}",
        "password": "{{ pmbPassword }}"
      }
    }
  }
}